.reload-prompt-container {
    padding: 0;
    margin: 0;
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.reload-prompt-message {
    max-width: 350px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
    border-radius: 12px !important;
}

.reload-prompt-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
